/* Estilo do corpo */
body {
    margin: 0;
    padding: 0;
    background: url('img/bg.webp') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    color: #ccc;
    overflow: hidden;
}

/* Container do jogo */
#game-wrapper {
    background: rgba(248, 248, 248, 0.9);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    max-width: 1200px;
    width: 80%;
    max-height: 80%;
    text-align: center;
}

/* Título */
h1 {
    margin-top: 0;
    font-size: 2rem;
    color: hotpink;
    text-shadow: 2px 2px 5px rgba(158, 158, 158, 0.8);
}

/* Controle de botões */
#controls {
    margin: 10px 0;
}

/* Botões */
#start-button-single, #start-button-duo {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    background-color: deepskyblue;
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#start-button-single:hover, #start-button-duo:hover {
    transform: scale(1.05);
    background-color: dodgerblue; /* Cor um pouco mais escura ao passar o mouse */
}

/* Container do jogo */
#game-container {
    display: flex;
    width: 1000px;
    height: 600px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* Container dos jogadores */
.player-container {
    flex: 1;
    position: relative;
    border-right: 1px solid #000;
}

#player2-container {
    border-right: none;
}

.hidden {
    display: none;
}

/* Balões */
.balloon {
    position: absolute;
    width: 60px;
    height: 80px;
    cursor: pointer;
    transition: transform 0.2s;
}

.balloon:hover {
    transform: scale(1.1);
}

/* Pontuação */
#score1, #score2 {
    margin: 5px;
    font-size: 1.5rem;
    color: hotpink;
    text-shadow: 2px 2px 4px rgba(158, 158, 158, 0.8);
}

/* Mensagem do vencedor */
#winner {
    font-size: 1.8rem;
    font-weight: bold;
    color: #4caf50; /* Verde */
    margin-top: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}